# core
VITE_MODE=development
VITE_USE_MOCK=true

# supabase auth (only use for initialization)
VITE_SUPABASE_PROJECT_REF=
VITE_SUPABASE_ACCESS_TOKEN=
VITE_SUPABASE_POSTGRES_URL=
VITE_SUPABASE_SERVICE_ROLE_KEY=

# supabase db (if necessary)
VITE_SUPABASE_DB_PASSWORD=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_TASK_TABLE_NAME=tasks

# supabase storage (if necessary)
VITE_SUPABASE_STORAGE_BUCKET_NAME=

# sentry
VITE_SENTRY_DSN=https://4f14dc46ccf4a09478bd0d7df658a2ca@o4509875759218688.ingest.us.sentry.io/4509875767934976
VITE_SENTRY_ENV=development
VITE_SENTRY_TRACES_SAMPLE_RATE=0.1
VITE_SENTRY_REPLAYS_SESSION_SAMPLE_RATE=1
VITE_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE=1
